language: cpp
branches:
  only:
    - master
    - develop
    - docs-auto-publish
compiler:
  - g++
  - clang++
os:
  - linux
cache:
  directories:
    - $HOME/cmake
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
      - libcurl4-openssl-dev
      - python-yaml
      - doxygen
install:
- if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
env:
  global:
    - BUILD_DIR_NAME=build
before_install:
  - bash ./ci/install-cmake.sh
  - openssl aes-256-cbc -K $encrypted_ec00f2668e2b_key -iv $encrypted_ec00f2668e2b_iv
    -in ./ci/travis_ci_rsa.enc -out ./ci/travis_ci_rsa -d
before_script:
  - bash ./ci/configure.sh
script:
  - bash ./ci/run.sh
after_success:
  - bash ./ci/publish-docs.sh
sudo: false
